@import url('http://openfontlibrary.org/face/crusoe-text');



/*******************
Body
*******************/

body {
	background-color: rgb(136, 136, 136);
    text-align: center;
	color: white;
	font-family: 'Crusoe Text', sans-serif;
}